/* Header */
#logo {
	background-color: teal;
	width: 1em;
	height: 1em;
	margin-right: .25em;
}

#logo-container {
	display: -webkit-inline-flex;
	display: inline-flex;
}

/* Cards and Piles */

.card {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	min-height: 100px;
	text-align: left;
	border-radius: 15px;
	max-width: 75px;
	min-width: 75px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: large;
	background-color: white;
	cursor: pointer;
}

.emptyPile{
	border-style: dashed;
	border-color: black;
	border-width: 1px;
	min-height: 100px;
	border-radius: 15px;
	max-width: 75px;
	min-width: 75px;
	padding-top: 15px;	
	background-color: white;
	cursor: pointer;
}

.pile{
	margin: 1em;	
}

.clicked {
	background-color: darkgray;
}

.greyedOut {
	background-color: lightgray;
}

.pileClicked{
	background-color: azure;
}

.userCard{
	margin: 10px;
	float: left;
	margin-right: -30px;
}

.red {
	color: red;
}

/* Circles */
.circle {
	border: 1px solid black;
	display: block;
	width: 50px;
	height: 50px;
	max-height: 50px;
	max-width: 50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	display: inline-block;
}

.space {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#info {
	padding-left: 15px;
}

@media screen and (max-width: 480px) {
    .circle {
        width: 20px;
        height: 20px;
        max-height: 20px;
		max-width: 20px;
    }
    
    .space {
        width: 20px;
        height: 20px;
    }
}

.centeredCell {
	text-align: center;
}

/* Other */
#gameTable {
	width: 100%;
}

.friendLink {
	font-size: 14pt;
}

.currentPlayer {
	font-weight: bold;
}

/* Utilities */
.bottom{
	margin-bottom: -60px;
}