.card {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	min-height: 100px;
	text-align: center;
	border-radius: 15px;
	max-width: 75px;
	padding-top: 15px;
	margin-left: 35%;
	font-size: large;
	background-color: white;
}

.emptyPile{
	border-style: dashed;
	border-color: black;
	border-width: 1px;
	min-height: 100px;
	border-radius: 15px;
	max-width: 75px;
	padding-top: 15px;
	margin-left: 35%;
	background-color: white;
}

.pile{
	margin: 1em;
}

.clicked {
	background-color: darkgray;
}

.pileClicked{
	background-color: azure;
}

.userCard{
	margin: 10px;
}