{{> header}}
{{#game}}
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<table class="table table-bordered">
	{{#displayBoard}}
		<tr>
		{{#row}}
			<td class="centeredCell">
				{{#isAPiece}}
				<div class="circle" style="background:{{hex}};">
				{{/isAPiece}}
				{{^isAPiece}}
				<div class="space" row="{{row}}" column ="{{column}}"></div>
				{{/isAPiece}}
			</td>
		{{/row}}
		</tr>		
	{{/displayBoard}}
	</table>
	</div>
	</div>

<script type="text/javascript">

var selected;

$(".space").click(function (){
	selected = $(this);
	submitMove();
});

function submitMove(){
	moveForm=document.createElement('FORM');
	moveForm.name='makeMove';
	moveForm.method='POST';
	moveForm.action='{{CIRCLES_ROUTE}}{{POST_TURN_ROUTE}}';
	
	hiddenElement=document.createElement('INPUT');
	hiddenElement.type='HIDDEN';
	hiddenElement.name='hex';
	hiddenElement.value="{{hex}}";
	moveForm.appendChild(hiddenElement);
	hiddenElement=document.createElement('INPUT');
	hiddenElement.type='HIDDEN';
	hiddenElement.name='cardColorName';
	hiddenElement.value="{{name}}";
	moveForm.appendChild(hiddenElement);
	hiddenElement=document.createElement('INPUT');
	hiddenElement.type='HIDDEN';
	hiddenElement.name='row';
	hiddenElement.value=selected.attr("row");
	moveForm.appendChild(hiddenElement);
	hiddenElement=document.createElement('INPUT');
	hiddenElement.type='HIDDEN';
	hiddenElement.name='column';
	hiddenElement.value=selected.attr("column");
	moveForm.appendChild(hiddenElement);
	hiddenElement=document.createElement('INPUT');
	hiddenElement.type='HIDDEN';
	hiddenElement.name='gameId';
	hiddenElement.value={{gameId}};
	moveForm.appendChild(hiddenElement);
	moveForm.submit();
	return;
}



</script>
{{/game}}
{{> footer}}