{{> header}}
{{#user}}
<form class="form-horizontal" action="{{EDIT_USER_ROUTE}}" method="POST">
	<div class="form-group">
    <label for="userName" class="col-sm-2 control-label">User Name*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="userName" id="userName" placeholder="User Name" value="{{userName}}">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{email}}">
      <p>We're not going to validate the email only send emails for things like new friends, new games, and when it is your turn to play. You can control when you receive emails below. In fact you don't have to put in an email at all.</p>  
    </div>
  </div>
  <div class="form-group">
  	<label class="col-sm-2 control-label">Send me emails</label>
    <div class="col-sm-10" id="emailOptions">
      <label class="checkbox"><input type="checkbox" name="emailForNewFriend" id="emailForNewFriend" {{#emailForNewFriend}}checked{{/emailForNewFriend}} value="">When someone adds me as a friend</label>
      <label class="checkbox"><input type="checkbox" name="emailForNewGame" id="emailForNewGame" {{#emailForNewGame}}checked{{/emailForNewGame}} value="">When someone creates a game with me</label>
      <label class="checkbox"><input type="checkbox" name="emailForTurn" id="emailForTurn" {{#emailForTurn}}checked{{/emailForTurn}} value="">When it is my turn in an ongoing game that includes other humans (doesn't send if you are playing against only computer players)</label>
      <label class="checkbox"><input type="checkbox" name="emailForGameOver" id="emailForGameOver" {{#emailForGameOver}}checked{{/emailForGameOver}} value="">When an ongoing game has ended</label>
    </div>
  </div>
  <h5>Change Your Password</h5>
  <h6>Only fill out this section if you'd like to change your password.</h6>
  <div class="form-group">
    <label for="currentPassword" class="col-sm-2 control-label">Current Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Current Password">
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword" class="col-sm-2 control-label">Current Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Your shiny new password.">
    </div>
  </div>
  <div class="form-group">
    <label for="newPasswordAgain" class="col-sm-2 control-label">Current Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="newPasswordAgain" id="newPasswordAgain" placeholder="Your shiny new password again.">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save Changes</button>
    </div>
  </div>
</form>
{{/user}}
{{> footer}}