{{> header}}

{{#friend}}
<h2>{{username}}</h2>
<h3>{{email}}</h3>
<p>Wins: {{numCirclesWin}}</p>
<p>Losses: {{numCirclesLost}}</p>
<p>Ties: {{numCirclesTie}}</p>
<p>Total Circles: {{numCirclesGames}}</p>
{{/friend}}

{{> footer}}