	var isTurn;
	
	{{#isTurn}}
	isTurn = true;
	{{/isTurn}}
	{{^isTurn}}
	isTurn = false;
	{{#isActive}}
	window.onload = function (){
		setTimeout(function (){
			window.location.replace(window.location.pathname);
		}, 20000);
	}
	{{/isActive}}
	{{/isTurn}}

	var isActive;
	
	{{#isActive}}
	isActive = true;
	{{/isActive}}
	{{^isActive}}
	isActive = false;
	handleGameOver();
	{{/isActive}}
	
	function notTurnAlert(){
		displayError("It is not your turn.", true);
		return;
	}
	
	function handleGameOver(){	
		if(!isActive){
			var message = "The game is over.";
			{{#isTie}}
				message = message + " It was a tie.";
                message = message + " <a href='{{REMATCH_ROUTE}}{{gameRoute}}/{{gameId}}'>Rematch</a>";
				displayError(message, false);
			{{/isTie}}
			{{^isTie}}
				{{#isWinner}}
					message = message + " You won!";
                    message = message + " <a href='{{REMATCH_ROUTE}}{{gameRoute}}/{{gameId}}'>Rematch</a>";
					displaySuccess(message, false);
				{{/isWinner}}
				{{^isWinner}}
					message = message + " You lost.";
                    message = message + " <a href='{{REMATCH_ROUTE}}{{gameRoute}}/{{gameId}}'>Rematch</a>";                    
					displayError(message, false);
				{{/isWinner}}
			{{/isTie}}
		}
		return;
	}
	
	function displaySuccess(message, remove){
		displayMessage(message, "alert-success", remove);
		return;
	}
	
	function displayError(message, remove){
		displayMessage(message, "alert-danger", remove);
		return;
	}
	
	function displayMessage(message, alertClass, remove){
		$("#alert").addClass(alertClass);
		$("#alert").html(message);
		$("#alert").removeClass("hidden");
		if(remove){
			setTimeout(function(){
				removeMessage(alertClass)
			}, 5000);
		}
		return;
	}
	
	function removeMessage(alertClass){
		$("#alert").html("");
		$("#alert").removeClass(alertClass);
		$("#alert").addClass("hidden");
		return;
	}