{{> header}}
<a href="/new"><button type="button" class="btn btn-primary btn-lg btn-block">New Game</button></a>
<br/>
{{#games}}
<h3>Active Games:</h3>

<h4>Games waiting on you:</h4>
{{#currentTurn}}
	<div class="gameListItem">
		<a href = "/game/{{gameId}}">
			Game Id: {{gameId}}
			<br/>
			Players:<br/>
			{{#players}}{{.}}<br/>{{/players}}
		</a>
	<hr/>
	</div>
{{/currentTurn}}
{{^currentTurn}}
	<h5>No Games are waiting for you.</h5>
{{/currentTurn}}

<h4>Games waiting on others:</h4>
{{#othersTurn}}
	<div class="gameListItem">
		<a href = "/game/{{gameId}}">
			Game Id: {{gameId}}
			<br/>
			Players:<br/>
			{{#players}}{{.}}<br/>{{/players}}
			Current Player: {{currentPlayerName}}
		</a>
	<hr/>
	</div>
{{/othersTurn}}
{{^othersTurn}}
	<h5>No Games are waiting on others.</h5>
{{/othersTurn}}

<h3>Past Games:</h3>
{{#ended}}
	<div class="gameListItem">
	Game Id: {{gameId}}
	<br/>
	Players:<br/>
	{{#players}}{{.}}<br/>{{/players}}
	Winner: {{winner}}
	<hr/>
	</div>
{{/ended}}
{{^ended}}
	<h5>You have no past games.</h5>
{{/ended}}
{{/games}}
{{> footer}}