{{> header}}
<a href="{{CREATE_GAME_ROUTE}}"><button type="button" class="btn btn-primary btn-lg btn-block">New Game</button></a>
<br/>
 <ul class="nav nav-tabs">
   <li class="active"><a data-toggle="tab" href="#circles">Circles</a></li>
   <li><a data-toggle="tab" href="#kingscorner">King's Corner</a></li>
 </ul>
 <br/>
 <div class="tab-content">
    <div id="circles" class="tab-pane fade in active">
      <h1>Circles</h1>
      	{{#circlesgames}}
			{{> gameTab}}
		{{/circlesgames}}
    </div>
    <div id="kingscorner" class="tab-pane fade">
    	<h1>King's Corner</h1>
		{{#kcgames}}
			{{> gameTab}}
		{{/kcgames}}
	</div>
</div>
{{> footer}}