<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/public/main.css">
		<link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>
	<body>
	<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo-container" class="navbar-brand pull-left" href="{{HOME_ROUTE}}"><div id="logo"></div>Grey Circle Games</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{HOME_ROUTE}}">Home</a></li>
            <li><a href="{{TUTORIAL_ROUTE}}">About</a></li>
            {{#loggedIn}}
            	<li><a href="{{GAMES_ROUTE}}">Games</a></li>
            	<li><a href="{{CREATE_GAME_ROUTE}}">New Game</a></li>
            	<li><a href="{{FRIENDS_ROUTE}}">Friends</a></li>
            {{/loggedIn}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	{{#loggedIn}}
	          	<li id="userDropdown" class="dropdown">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
		          	<ul class="dropdown-menu">
		          		{{#notifications}}
		          			<li id="notification_{{uid}}">
		          			<a>
		          			<div class="display-inline-block" onclick="redirect({{uid}}, '{{url}}')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{text}}</div>
		          			<span class="display-inline-block glyphicon glyphicon-remove" onclick="redirect({{uid}}, null)" aria-hidden="true"></span>
		          			</a>
		          			</li>
		          		{{/notifications}}
		            	<li><a href="{{EDIT_USER_ROUTE}}">Edit Settings <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
		          	</ul>
	        	</li>
          		<li><a href="{{LOGOUT_ROUTE}}">Logout</a></li>
          	{{/loggedIn}}
          	{{^loggedIn}}
          		<li><a href="{{REGISTER_ROUTE}}">Register</a></li>
            	<li><a href="{{LOGIN_ROUTE}}">Login</a></li>
            {{/loggedIn}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <script type="text/javascript">
    function redirect(notificationId, urlToGo){
    	$("#userDropdown").addClass("open");
    	$("#notification_" + notificationId).addClass("hidden");
        $.ajax({url: "{{REMOVE_NOTIFICATION_ROUTE}}" + "/" + notificationId, success: function(result){
            if(urlToGo != null){
            	window.location.replace(urlToGo);
            } else {
            	$("#userDropdown").addClass("open");
            }
        }});       
    }
    </script>
    <div class="container">
    {{#failure}}
    <div class="alert alert-danger" role="alert">{{.}}</div>
    {{/failure}}
    {{#success}}
    <div class="alert alert-success" role="alert">{{.}}</div>
    {{/success}}