{{> header}}
<div class="row">
	<div class="col-md-offset-4 col-md-4">
        <form class="form-horizontal" action="{{REGISTER_ROUTE}}" method="post">
            <input type="hidden" name="guest" value="true">
            <button type="submit" class="btn btn-default btn-lg btn-block">Forms are silly - play as guest</button>
        </form>
        <br />
		<a href="{{LOGIN_ROUTE}}"><button type="button" class="btn btn-primary btn-lg btn-block">Login</button></a>
		<br />
		<a href="{{REGISTER_ROUTE}}"><button type="button" class="btn btn-default btn-lg btn-block">Register</button></a>
	</div>
</div>
{{> footer}}