{{> header}}
{{#game}}
<div class="alert hidden" id="alert" role="alert"></div>
<div class="row">
	<!-- The NorthWest, North, and North East Piles -->
	<table id="gameTable">
		<tr>
			<td>
				<div pile="NORTH_WEST_PILE" {{> gamePileAttributes}}>
					{{#northWestPile}}
						{{> card}}
					{{/northWestPile}}
					{{^northWestPile}}
						<div class="emptyPile"></div>
					{{/northWestPile}}
				</div>
			</td>
			<td>
				<div pile="NORTH_PILE" {{> gamePileAttributes}}>
					{{#northPile}}
						{{> card}}
					{{/northPile}}
					{{^northPile}}
						<div class="emptyPile"></div>
					{{/northPile}}
				</div>
			</td>
			<td>
				<div pile="NORTH_EAST_PILE" {{> gamePileAttributes}}>
					{{#northEastPile}}
						{{> card}}
					{{/northEastPile}}
					{{^northEastPile}}
						<div class="emptyPile"></div>
					{{/northEastPile}}
				</div>
			</td>
		</tr>
		<tr>
		<!-- The West, Draw, and East Piles -->
			<td>
				<div pile="WEST_PILE" {{> gamePileAttributes}}>
					{{#westPile}}
						{{> card}}
					{{/westPile}}
					{{^westPile}}
						<div class="emptyPile"></div>
					{{/westPile}}
				</div>
			</td>
			<td>
				<div class="gamePile pile">
					<div id="drawPile" class="card noSelectText" pile="DRAW_PILE">Draw ({{drawPile.size}})</div>
				</div>
			</td>
			<td>
				<div pile="EAST_PILE" {{> gamePileAttributes}}>
					{{#eastPile}}
						{{> card}}
					{{/eastPile}}
					{{^eastPile}}
						<div class="emptyPile"></div>
					{{/eastPile}}
				</div>
			</td>
		</tr>
		<tr>
		<!-- The SouthWest, South, and SouthEast Pile -->
			<td>
				<div pile="SOUTH_WEST_PILE" {{> gamePileAttributes}}>
					{{#southWestPile}}
						{{> card}}
					{{/southWestPile}}
					{{^southWestPile}}
						<div class="emptyPile"></div>
					{{/southWestPile}}
				</div>
			</td>
			<td>
				<div pile="SOUTH_PILE" {{> gamePileAttributes}}>
					{{#southPile}}
						{{> card}}
					{{/southPile}}
					{{^southPile}}
						<div class="emptyPile"></div>
					{{/southPile}}
				</div>
			</td>
			<td>
				<div pile="SOUTH_EAST_PILE" {{> gamePileAttributes}}>
					{{#southEastPile}}
						{{> card}}
					{{/southEastPile}}
					{{^southEastPile}}
						<div class="emptyPile"></div>
					{{/southEastPile}}		
				</div>
			</td>
		</tr>
	</table>
</div>
<div class="row">
	Your hand ({{#userHand.size}}{{userHand.size}}{{/userHand.size}} Remaining Cards){{#isTurn}}<b> It's your turn!</b>{{/isTurn}}:
	<div class="viewingHand">
		{{#userHand}}
			<div class="userCard card noSelectText {{#isRed}}red{{/isRed}} {{^isTurn}}greyedOut{{/isTurn}}" number="{{number}}" suit="{{suit.displayName}}" draggable="true" ondragstart="drag(event)">
			{{displayNumber}} {{{suit.html}}}
			</div>
		{{/userHand}}
	</div>
</div>

<div class="row">
	<!-- The Other Player's Piles -->
	<h4>Other Players:</h4>
	<ul>
	{{#otherPlayers}}
		{{this}}
			<li {{#isCurrentPlayer}}class="currentPlayer"{{/isCurrentPlayer}}>{{username}} ({{cards.size}} Remaining Cards){{#isCurrentPlayer}} (Current Player){{/isCurrentPlayer}}</li>
		{{this}}
	{{/otherPlayers}}
	</ul>
</div>


<div class="row">
	<!-- The previous moves. -->
	<h4>Move History (Most recent first):</h4>
	<ul>
		{{#moveHistory}}
			<li>{{.}}</li>
		{{/moveHistory}}
	</ul>
	{{^moveHistory}}
	<p>There have not been any moves yet.</p>
	{{/moveHistory}}
    <div id='form' class='hidden'>
        <!-- Needed for IE -->
    </div>
</div>


<script type="text/javascript">

	{{> gameJavaScript}}
		
	var selectedCard;
	var selectedPile;
	var secondPile;
	var moveHasBeenSubmitted = false;
	var turnHasBeenSubmitted = false;
	
	$("#drawPile").click(function (){
		if(!turnHasBeenSubmitted){
		   	handleTurn();
		}
	});

	$(".userCard").click(function (){
	    if(moveHasBeenSubmitted || !isActive){
	    	return;
	    }
		if(!isTurn){
			notTurnAlert();
			return
		}
		if($(this).attr("id") == "drawPile"){
			handleTurn();
			return;
		}
		if($(this).hasClass("clicked")){
			// The currently selected card has been clicked
			$(this).removeClass("clicked");
			selectedCard = null;
		} else if(!selectedCard){
			// A new card has been clicked
			$(this).addClass("clicked");
			selectedCard = $(this);
			if(selectedPile){
				handleMove();
			}
		} else {
			if($(this).attr("id") == "drawPile"){
				handleTurn();
				return;
			} else {
				// This is a different card from the one currently selected
				selectedCard.removeClass("clicked");
				$(this).addClass("clicked");
				selectedCard = $(this);
			}
		}
		return;
	});
	
	$(".gamePile").click(function (){
		if(moveHasBeenSubmitted || !isActive){
			return;
		}
		if(!isTurn){
			notTurnAlert();
			return
		}
		if($(this).children().first().attr("id") == "drawPile"){
			handleTurn();
			return;
		}
		if($(this).children().first().hasClass("pileClicked")){
		 	// Unclick the currently selected pile
			$(this).children().first().removeClass("pileClicked");
			selectedPile = null;
		} else if(!selectedPile){
			// This is the first selected pile
			$(this).children().first().addClass("pileClicked");
			selectedPile = $(this);
			if(selectedCard){
				handleMove();
			}
		} else {
			// This is the second selected pile
			if($(this).children().first().attr("id") != "drawPile"){
				if($(this).children().first().hasClass("emptyPile") && selectedPile.children().first().hasClass("emptyPile")){
					// The first selected pile and this were both empty piles just switch the selectedPile to this
					selectedPile.children().first().removeClass("pileClicked");
					$(this).children().first().addClass("pileClicked");
					selectedPile = $(this);
				} else {
				    $(this).children().first().addClass("pileClicked");
				    secondPile = $(this);
				    handleMove();
				}
			}
		}
		return;
	});
	
	function handleTurn(){
		if(!isActive){
			return;
		}
		if(!isTurn){
			notTurnAlert();
			return;
		}
		turnHasBeenSubmitted = true;
		turnForm=document.createElement('FORM');
		turnForm.name='turn';
		turnForm.method='POST';
		turnForm.action= '{{KINGS_CORNER_ROUTE}}{{POST_TURN_ROUTE}}';
		
		hiddenElement=document.createElement('INPUT');
		hiddenElement.type='HIDDEN';
		hiddenElement.name='gameId';
		hiddenElement.value={{gameId}};
		turnForm.appendChild(hiddenElement);
		$('#form').html(turnForm); // Needed for IE
		turnForm.submit();
		return;
	}
	
	function handleMove(){
		moveHasBeenSubmitted = true;
		moveForm=document.createElement('FORM');
		moveForm.name='makeMove';
		moveForm.method='POST';
		moveForm.action='{{KINGS_CORNER_ROUTE}}{{POST_MOVE_ROUTE}}';
		
		hiddenElement=document.createElement('INPUT');
		hiddenElement.type='HIDDEN';
		hiddenElement.name='pile';
		hiddenElement.value=selectedPile.attr("pile");
		moveForm.appendChild(hiddenElement);
		if(selectedCard){
			hiddenElement=document.createElement('INPUT');
			hiddenElement.type='HIDDEN';
			hiddenElement.name='number';
			hiddenElement.value=selectedCard.attr("number");
			moveForm.appendChild(hiddenElement);
			hiddenElement=document.createElement('INPUT');
			hiddenElement.type='HIDDEN';
			hiddenElement.name='suit';
			hiddenElement.value=selectedCard.attr("suit");
			moveForm.appendChild(hiddenElement);
		} else if(secondPile){
			hiddenElement=document.createElement('INPUT');
			hiddenElement.type='HIDDEN';
			hiddenElement.name='pile2';
			hiddenElement.value=secondPile.attr("pile");
			moveForm.appendChild(hiddenElement);
		}
		hiddenElement=document.createElement('INPUT');
		hiddenElement.type='HIDDEN';
		hiddenElement.name='gameId';
		hiddenElement.value={{gameId}};
		moveForm.appendChild(hiddenElement);
		$('#form').html(moveForm); // Needed for IE
		moveForm.submit();
		return;
	}
	
    function dragEnter(event) {
        event.preventDefault();
        $(event.target).addClass("dragHover");
     }
     
     function dragOver(event) {
         event.preventDefault();
     }
     
     function dragLeave(event) {
         $(event.target).removeClass("dragHover");
     }

     function drag(event) {
    	 if(selectedCard){
    		  selectedCard.removeClass("clicked");
    		  selectedCard = null;
    	 }
    	 if(selectedPile){
    		  selectedPile.children().first().removeClass("pileClicked");
    		  selectedPile = null;
    	 }
    	 if(secondPile){
    		  secondPile.children().first().removeClass("pileClicked");
    		  secondPile = null;
    	 }
    	 if(!$(event.srcElement).hasClass("emptyPile")){
    		   $(event.target).click();
    	 } else {
    		 $(event.srcElement).attr("draggable", false);
    	 }
     }

     function drop(event) {
    	 $(event.target).click();
     }
     
     $(".emptyPile").mousedown(function (){
         this.parentNode.setAttribute("draggable", false);
         this.parentNode.setAttribute("ondragstart", "");
     });
</script>
{{/game}}

{{^game}}
<h4><a href="{{GAMES_ROUTE}}">Click here to return to your games list.</a></h4>
{{/game}}
{{> footer}}