{{> header}}
<h1>Leaderboard</h1>

<table class="table">
	<tr>
		<th>User Name</th>
		<th># Wins</th>
		<th># Losses</th>
	</tr>	
{{#entries}}
	<tr>
		<td>
			{{user.userName}}
		</td>
		<td>
			{{numWins}}
		</td>
		<td>
			{{numLosses}}
		</td>
	</tr>
{{/entries}}
</table>
{{> footer}}