{{> header}}
<h1>King's Corners</h1>
<h2>Instructions</h2>
<h3>Deck and Limitations</h3>
<p>A standard deck of 52 cards, 4 suits 13 cards to a suit, without jokers is used for the game. Aces are considered low for this game.</p>
<p>There needs to be at least two players, four is ideal, but there is a maximum of seven players imposed by the number of cards in a deck.</p>
<h3>Dealing</h3>
<p>Seven cards are dealt to each player. The remaining deck is placed in the center of the playing surface and becomes the draw pile. To initialize the game take four cards from the draw pile and place them around the draw pile. These are the foundation piles and they are referenced from the position relative to the draw pile ie North, South, East, West.</p>
<h3>Game Play</h3>
<p>Players take turns in order and during their turn they can do any number of any of the following:</p>
<ul>
	<li>Place a card from their hand onto one of the foundation piles. The card must be of opposite suit color and one less in number than the card on the top of the foundation pile.</li>
	<li>Place a king from their hand onto a space around the draw pile (North East, South East, South West, North West locations).
	<li>Move an entire foundation pile onto another foundation pile or empty spaces given that the bottom card of the pile to be moved is of opposite suit color and one less in number than the card on top of the pile being covered. This stipulation on the card does not apply for moving to blank spaces however only a King or a pile whose bottom card is a King may be placed on the North East, South East, South West, and North West locations.</li>
	<li>Place any card from their hand onto a blank space for any of the original foundation piles - North, East, South, West.   
</ul>
<p>At the end of their turn, when the player is out of moves, cards, or prefers to not play possible moves, the player takes a card from the draw pile and adds it to their hand.</p>
<h3>Winning</h3>
<p>To win the game a player must play all of the cards from their hand before the end of their turn.</p>
<h3>Card Display</h3>
<p>This application has attempted to recreate the King's Corner experience digitally and in doing so decided to only display the top and bottom (the relevant cards) of each game pile.</p>

<h2>Application Information</h2>
<h3>Cookie Disclosure</h3>
<p>This site uses cookies to allow a user to login and stay logged in past one page load. If cookies were not used the user would have to re-validate at every page load. Cookies are also used to persist messages (success and error in nature) across page loads.</p>

<h3>Reasoning</h3>
<p>This web app was created for EECS 393 Software Engineering at Case Western Reserve University.</p>
<p>Created by George Hodulik, Kirtan Patel, Thomas Pech, and Sarah Whelan</p>
<p>Code can be found at: <a href="https://github.com/SWhelan/cardswithfriends">https://github.com/SWhelan/cardswithfriends</a></p>
<p>Questions and comments can be directed to the above github repo.</p>
{{> footer}}