{{> header}}
<a href="/new"><button type="button" class="btn btn-primary btn-lg btn-block">New Game</button></a>
<br/>
{{#games}}
<div class="gameListItem">
<a href = "/game/{{gameId}}">
Game Id: {{gameId}}
<br/>
Players:<br/>
{{#players}}{{.}}<br/>{{/players}}
Current Player: {{currentPlayerName}}
</a>
<hr/>
</div>
{{/games}}
{{> footer}}